      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: Arial, sans-serif;
        background: #f9f9f9;
        padding: 100px 20px;
        
      }

      .timeline {
        position: relative;
        margin: 0 auto;
        width: 90%;
        max-width: 800px;

        &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 4px;
        height: 125%;
        background: #ddd;
        transform: translateX(-50%);
        z-index: 0;
      }

      .timeline-progress {
        position: absolute;
        top: 0;
        left: 50%;
        width: 4px;
        height: 0; 
        background: #c00;
        transform: translateX(-50%);
        z-index: 1;
        transition: height 0.5s ease-out;
      }

      .entry {
        position: relative;
        width: 50%;
        padding: 20px 40px;
        transform: translateY(40px);
        opacity: 0;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;

        &.visible {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 2s ease-out, transform 2s ease-out;

      }

        &:nth-child(odd) {
        left: 0;
      }

        &:nth-child(even) {
        left: 50%;
      }

      .year {
        position: absolute;
        top: 0;
        width: 60px;
        font-size: 20px;
        font-weight: bold;
        color: #222;

        .first-year{
          top: -30px;
        }
      }

        &:nth-child(odd) .year {
        right: -23px;
        text-align: right;
      }

        &:nth-child(even) .year {
        left: -23px;
        text-align: left;
      }


      .btn {
        position: absolute;
        width: 36px;
        height: 36px;
        margin-left: -18px;
        border-radius: 50%;
        background: #ccc;
        border: none;
        cursor: pointer;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: background-color 0.3s;
        svg {
        width: 20px;
        height: 20px;
        fill: #222;
        transition: fill 0.3s;
      }

      &.passed {
        background-color: #c00;
        svg {
        fill: #c00;
      }
      }
      }

      
      .first-btn{
        top:35px;
        right: 382px;
      }

      .second-btn{
        top:35px;
        right: -18px;
      }

      .third-btn{
        top:35px;
        right: 382px;
      }

      .fourth-btn{
        top:35px;
        right: -18px;
      }

      .fives-btn{
        top:35px;
        right: 382px;
      }

      .sixs-btn{
        top:35px;
        right: -18px;
      }

      .content {
        margin-top: 80px;
        background: #fff;
        padding: 15px;
        border-radius: 6px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: none;

        img {
        max-width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        display: block;

        &.loaded {
        opacity: 1;
        transform: translateY(0);
      }
      }
      p {
        font-size: 14px;
        line-height: 1.4;
        color: #333;
      }
      }
      }
      }

       /* планшетка */
      @media (max-width: 768px) {
        .timeline::before,
        .timeline-progress {
          left: 20px !important; /* Таймлайн слева */
          transform: none !important;
        }
        .entry {
          width: 100% !important;
          padding-left: 60px !important; /* Отступ слева под таймлайн */
          padding-right: 20px !important;
          left: 0 !important;
          margin-bottom: 50px;

          &:nth-child(odd) .year,
          &:nth-child(even) .year {
          left: 0 !important;
          right: auto !important;
          text-align: left !important;
          top: -24px;
        }

        .btn {
          left: 4px !important;
          margin-left: 0 !important;
        }

        .first-btn{
        top:10px !important; 
      }

      .second-btn{
        top:10px !important;
      }

      .third-btn{
        top:10px !important;
      }

      .fourth-btn{
        top:10px !important;
      }

      .fives-btn{
        top:10px !important;
      }

      .sixs-btn{
        top:10px !important;
      }

        .content {
          margin-left: 60px !important;
          margin-top: 10px !important;
        }
        }
      }
      /* планшетка */